*.iws
*.ipr
*.iml
.project
.classpath
.settings
.metadata

**/target/
target/**
.DS_Store
src/main/java/net/mgorski/output/
.idea
.gradle/**

atlassian-ide-plugin.xml

# gradle 

classes/**
*.class
*.jar
*.war
*.ear

bin
build/

.settings
.gradle

.classpath

.project


jpa*.db
gradle-wrapper.properties
