<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:aop="http://www.springframework.org/schema/aop"

       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <context:annotation-config  />
    <context:component-scan base-package="com.trainings.spring"/>

  <!-- 
  <context:component-scan use-default-filters="false"
    base-package="com.trainings.spring.basic.controllers,com.trainings.spring.basic.interceptors">    
    <context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>
    <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
  </context:component-scan>  
   -->


    <mvc:annotation-driven/>


    <bean id="requestStopwatch" scope="request" class="com.trainings.spring.web.Stopwatch">
        <constructor-arg>
            <value>Request</value>
        </constructor-arg>
        <aop:scoped-proxy/>
    </bean>

    <bean id="singletonStopwatch" scope="singleton" class="com.trainings.spring.web.Stopwatch">
        <constructor-arg>
            <value>Singleton</value>
        </constructor-arg>
        <aop:scoped-proxy/>

    </bean>
    <bean id="prototypeStopwatch" scope="prototype" class="com.trainings.spring.web.Stopwatch">
        <constructor-arg>
            <value>Prototype</value>
        </constructor-arg>
        <aop:scoped-proxy/>

    </bean>

    <bean id="sessionStopwatch" scope="session" class="com.trainings.spring.web.Stopwatch">
        <constructor-arg>
            <value>Session</value>
        </constructor-arg>
        <aop:scoped-proxy/>

    </bean>

<!-- 
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
 -->
</beans>