<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>    
  <session-factory>
    <!-- Database connection settings -->
    <!-- 
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hib_basics</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
     -->
    
    <!-- SQL dialect -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
    <!-- Echo all executed SQL to stdout -->
    <property name="hibernate.show_sql">true</property>
    <!-- Drop and re-create the database schema on startup -->
    <property name="hibernate.hbm2ddl.auto">update</property>
    
    <!-- List of entities -->
    <!-- <mapping class="com.trainings.spring.basic.dao.model.Contact" />-->
        
  </session-factory>
</hibernate-configuration>